<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serly.uas_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainDashboard" />
        <activity android:name=".ActivityPembeli" />
        <activity android:name=".LayarDetailPembeli" />
        <activity android:name=".LayarListPembeli" />
        <activity android:name=".LayarInsertPembeli" />
        <activity android:name=".LayarEditPembeli" />
        <activity android:name=".ActivityOngkosKirim" />
        <activity android:name=".LayarInsertOngkosKirim" />
        <activity android:name=".LayarEditOngkosKirim" />
        <activity android:name=".LayarDetailOngkosKirim" />
        <activity android:name=".ActivityBarang" />
        <activity android:name=".LayarDetailBarang" />
        <activity android:name=".LayarInsertBarang" />
        <activity android:name=".LayarEditBarang"></activity>
    </application>

</manifest>